/* Home.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  


/* Home.css */

.home-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .home-main {
    flex: 1;
    padding: 2rem; /* Consistent padding */
    padding-bottom: 4rem; /* Extra space for footer */
    text-align: center; /* Center align text */
  }
  
  @media (max-width: 768px) {
    .home-main {
      padding: 1.5rem; /* For smaller screens */
    }
  }
  

  /* Add this to your CSS file if you want to make the navbar responsive */
@media (max-width: 768px) {
    .menu {
      flex-direction: column; /* Stack menu items vertically */
      align-items: center;
    }
    .menuItem {
      margin: 1rem 0; /* Adjust spacing for vertical items */
    }
  }
  